<ng-container *ngIf="data$ | async as data">
  <div class="w-full mt-16">
    <div class="flex flex-col justify-center items-center gap-8">
      <img
        src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
        alt="user" class="w-24 h-24">
      <h1 class="text-2xl font-bold">Sign up</h1>
      <form [formGroup]="form" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">
        <label>
          <p class='text-neutral-black text-sm font-medium'>Profile Picture</p>
          <input type='file' #fileInput (change)="onFileChange($event)" accept="image/*"
            class='w-full text-sm leading-7 my-4 cursor-pointer' />
        </label>
        <label>
          <p class='text-neutral-black text-sm font-medium'>Full Name</p>
          <input type='text' placeholder='example name'
            class='w-full text-neutral-black placeholder:text-neutral-dark-gray text-sm leading-7 py-4 pl-5 pr-16 focus:outline-primary rounded-10'
            formControlName="name" />
        </label>
        <label>
          <p class='text-neutral-black text-sm font-medium'>Email Address</p>
          <input type='text' placeholder='example@gmail.com'
            class='w-full text-neutral-black placeholder:text-neutral-dark-gray text-sm leading-7 py-4 pl-5 pr-16 focus:outline-primary rounded-10'
            formControlName="email" />
        </label>
        <div class='relative'>
          <label class='text-neutral-black text-sm font-medium'>Password</label>
          <input [type]="showPassword ? 'text' : 'password'" placeholder='example-password'
            class='w-full text-neutral-black placeholder:text-neutral-dark-gray text-sm leading-7 py-4 pl-5 pr-16 focus:outline-primary rounded-10 mb-5'
            formControlName="password" />

          <div class='absolute top-10 right-5'>
            <button type="button" (click)="toggleShowPassword()">
              <ng-container *ngIf="!showPassword; else hidePassword">
                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' [attr.strokeWidth]='1.5'
                  stroke='currentColor' class='w-6 h-6'>
                  <path stroke-linecap='round' stroke-linejoin='round'
                    d='M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88' />
                </svg>
              </ng-container>
              <ng-template #hidePassword>
                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' [attr.strokeWidth]='1.5'
                  stroke='currentColor' class='w-6 h-6'>
                  <path strokeLinecap='round' strokeLinejoin='round'
                    d='M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z' />
                  <path strokeLinecap='round' strokeLinejoin='round' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' />
                </svg>
              </ng-template>
            </button>
          </div>
          <mc-backend-error-message *ngIf="fileSizeError" [backendErrors]="fileSizeError"></mc-backend-error-message>
          <mc-backend-error-message *ngIf="data.backendErrors"
            [backendErrors]="data.backendErrors"></mc-backend-error-message>
        </div>
        <div class="flex justify-between items-center">
          <p className='text-neutral-black text-sm leading-7 font-bold'>
            Already have an account?
          </p>
          <a routerLink='/signin' class="text-secondary">
            Sign in
          </a>
        </div>
        <button type="submit" class="text-center text-white font-bold bg-primary w-36 px-5 py-2 rounded-10 mx-auto mt-5"
          [disabled]="data.isSubmitting">
          Sign up
        </button>
      </form>
    </div>
  </div>
</ng-container>