<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="w-full my-">
      <div class="flex flex-col justify-center items-center">
        <div class="">
          <img
            src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
            alt="user" class="w-20 h-20">
        </div>
        <form>
          <div class="form-group">
            <label for="email">Email : </label>
            <input type="text" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" name="password" class="form-control" placeholder="********">
            <div class="text-right forget-pass">
              <a routerLink="/forget-password">Forget Password ?</a>
            </div>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Login">
          </div>
        </form>
        <div class="text-center sign-up">
          Don`t have an account ? <a routerLink="/sign-up">Sign Up</a> hera.
        </div>


      </div>
    </div>
  </div>
</div>